{% extends 'miniblog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10 col-md-10">
    <h3 class="text-white my-5">About page</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, inventore exercitationem nihil excepturi iste dicta ipsam doloribus ad illo expedita alias labore eos consequatur ullam dolorem quaerat voluptatem hic quis.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt perferendis eaque delectus fuga fugit ipsa sed quod nesciunt consequatur suscipit error reiciendis labore reprehenderit ducimus, placeat sit illo harum laudantium?</p>

</div>

{% endblock content %}