{% extends 'miniblog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10 col-md-10 mb-5">
    <h3 class="text-white my-5">Home page</h3>

    {% for pst in post %}
    <div class="jumbotron jumbotron-fluid jumbo-color p-2 mt-3 mb-2" style="border-radius: 8px;">
        <div class="container text-light">
            <h1 class="display font-weight-bold">{{pst.title}}</h1>
            <p class="lead mt-3 ml-2">{{pst.desc}}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}